<html>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/Capi">Capibara</a></li>
            <li><a href="/Perro">Perro</a></li>
            <li><a href="/Gato">Gato</a></li>
            <li><a href="/Contacto">Contacta con nosotros</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %} 
    <footer>
        <section class="centrar-texto">
            
            <p>Direccion:Colonia Adolfo Landero, Calle 06 de Febrero #223</p>
            <p>Numero de telefono: 4491291626</p>
            <p>Correo Electronico:capibarasForever@gmail.com</p>
        </section>
    </footer>
</html>